.step {
  &__content_slide {
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    &__logo {
      svg {
        fill: #000 !important;
      }
    }

    &__image {
      width: inherit;
      height: auto;

      img {
        width: inherit;
        height: 100%;
        margin-bottom: -5px;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;

      app-xcapit-logo {
        width: 100px;
        margin-top: 56px;
      }

      &__primary_text {
        ion-text {
          color: var(--ion-color-primary);
        }

        margin-top: 23px;
      }

      &__secondary_text {
        ion-text {
          color: var(--ion-color-neutral90);
        }

        margin-top: 45px;
        padding: 0 44px;
      }
    }

    &__button_skip {
      position: absolute;
      bottom: 8px;

      ion-button {
        color: white;
        text-decoration: underline;
      }
    }

    &__button_finish {
      position: absolute;
      bottom: 8px;
      width: inherit;

      ion-button {
        color: var(--ion-color-primary-contrast);
        margin: 0 16px;
      }
    }

    &__button_next {
      position: absolute;
      right: 16px;
    }

    &__button_back {
      position: absolute;
      left: 16px;

      ion-icon {
        transform: rotate(180deg);
      }
    }

    &__button_config {
      position: absolute;
      width: 100%;
      bottom: 16px;
      padding-left: 16px;
      padding-right: 16px;
    }

    &__slide_step_show {
      position: absolute;
      right: 19px;
      top: 15px;

      ion-text {
        color: var(--ion-color-primary);
      }
    }
  }
}

.slide-button {
  top: 50%;

  ion-button {
    --padding-bottom: 17px;
    --padding-top: 17px;
    --padding-start: 8px;
    --padding-end: 8px;
  }
}
