:host {
  h2 {
    color: var(--ion-color-neutral90);
  }

  .sp {
    &__personal {
      margin-top: 24px;

      &__card {
        margin-top: 8px;
      }
    }

    &__bill {
      margin-top: 24px;

      &__card {
        margin-top: 8px;
      }
    }
  }
}
