:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .resize {
    font-size: var(--ux-fsize-16);
  }

  .button-next {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 16px;
  }

  .step-counter {
    margin-right: 13px;
  }

  .ion-text-start {
    padding-left: 60px;
  }

  .rwp {
    &__title {
      display: flex;
      align-items: center;
      gap: 6px;

      ion-button {
        height: 16px;

        ion-icon {
          height: 16px;
        }
      }
    }

    &__label_and_icon {
      margin-top: 40px;
      display: flex;
      align-items: center;
      margin-bottom: -12px;
    }

    &__subtitle {
      margin-top: 10px;
      align-items: center;
    }

    &__label {
      width: 99%;
    }
  }
}
