:host {
  ion-content {
    --background: var(--ion-color-neutral10);
  }

  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .ion-text-start {
    padding-left: 60px;
  }

  .saw {
    &__back {
      font-size: 12px;
    }

    &__step_counter {
      margin-right: 13px;
      color: var(--ion-color-white);
    }

    &__expandable_info {
      margin-bottom: 0 !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &__amount_card {
      margin-top: 0 !important;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: none;
      margin-bottom: 8px;
    }

    &__legend {
      padding: 0 16px 16px;
      color: var(--ion-color-neutral80);

      &__skeleton {
        width: 100%;
        height: 40px;
        border-radius: 8px;
      }
    }

    &__button {
      padding: 0 16px;

      &__skeleton {
        width: 100%;
        height: 44px;
        border-radius: 8px;
      }
    }
  }
}
