:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  ion-input {
    --padding-start: 13px;
    --padding-top: 13px;
    --padding-bottom: 13px;

    border-radius: 4px;
    border: 1px solid var(--ion-color-neutral80);
    background-color: var(--ion-color-neutral10);
  }

  .content {
    &__back {
      padding-right: 30px;
      font-size: 12px;
    }

    &__step_counter {
      margin-right: 13px;
      color: var(--ion-color-white);
    }

    &__title {
      margin-bottom: 24px;
    }

    &__subtitle {
      margin-bottom: 8px;
    }

    &__description {
      margin-bottom: 12px;
    }

    &__input {
      &__label {
        margin-bottom: 4px;
      }

      margin-bottom: 36px;
    }

    &__disclaimer {
      margin-bottom: 24px;
    }
  }

  .ion-text-start {
    padding-left: 60px;
  }
}
