:host {
  .list {
    margin: 0;
  }

  .container {
    border-radius: 8px;
    border: 0.5px solid var(--ion-color-neutral50);
    box-shadow: 0 2px 8px rgb(28 45 94 / 5%);
  }

  .icg {
    &__item {
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      --inner-padding-top: 0;
      --inner-padding-bottom: 0;

      padding-top: 8px;

      --background: transparent;

      background-color: transparent;
    }

    &__radio_text {
      font-size: 12px;
    }

    &__img {
      padding-right: 14px;
      height: 33px;
    }

    &__toggle {
      --background-checked: var(--ion-color-info);
      --background: var(--ion-color-neutral50);

      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 16px;
      height: 22px;
      width: 42px;

      --handle-width: 17.66px;
      --handle-height: 17.66px;
    }

    &__label {
      font-weight: var(--ux-fweight-bold);
      color: var(--ion-color-neutral90);
      margin: 0;
      margin-left: 16px;
      padding-top: 13px;
      padding-bottom: 18px;
    }
  }
}
