:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .sc {
    --background: var(--ion-color-white);

    &__title {
      margin-top: 8px;
    }

    &__list {
      margin-top: 16px;
    }
  }
}
