:host {
  ion-item {
    --border-style: none;
    --background-activated: transparent;
  }

  .spc {
    &__select {
      &__label-provider {
        margin-bottom: 8px;
      }

      &__placeholder {
        font-size: 12px;
      }
    }

    &__providers {
      margin-top: 24px;
    }

    &__no_providers {
      display: grid;
      flex-direction: column;
      text-align: center;
      justify-items: center;
      gap: 4px;
      margin-top: 36px;
    }
  }

  .alert-message {
    padding-bottom: 0;
  }
}
