:host {
  .id {
    &__card {
      margin-bottom: 0;
    }

    .invested-balance {
      margin-top: 0;
      margin-bottom: 16px;

      &__content {
        display: flex;
        flex-direction: column;

        &__label {
          margin-bottom: 4px;
        }

        &__balance {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding-bottom: 18px;

          &__text {
            color: var(--ion-color-neutral90);
          }
        }
      }
    }

    &__buttons {
      display: flex;
      justify-content: center;
      margin-top: -28px;

      &__withdraw {
        margin-left: 15px;
      }

      &__add-amount {
        margin-right: 15px;
      }

      &__withdraw,
      &__add-amount {
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }
  }

  ion-item::part(native) {
    padding-left: 16px;
  }
}
