.dc {
  margin-top: 8px;
  background-color: var(--ion-color-info);
  border-radius: 8px;
  border: 0.5px solid var(--ion-color-neutral50);
  max-height: 329px;

  &__content {
    display: flex;
    width: 100%;

    &__body {
      align-self: center;
      width: 100%;
      margin-left: 16px;
      display: inline-grid;

      &__title {
        color: var(--ion-color-white);
        margin-bottom: 4px;
      }

      &__subtitle {
        color: var(--ion-color-white);
        width: 198px;
      }
    }
  }

  img {
    border-radius: 8px;
  }
}
