:host {
  margin-inline-start: 0;

  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    .back-button {
      margin-right: 16px;
    }
  }

  ion-content {
    --background: #f7f8ff;
  }

  .td {
    &__card {
      background-color: var(--ion-color-white);
      border-radius: 8px;

      &__item {
        padding-top: 12px;
        padding-bottom: 12px;

        &__title {
          padding-left: 16px;
          margin-bottom: 8px;
          display: flex;
          align-items: center;

          ion-text {
            color: var(--ion-color-primary);
          }
        }

        &__badge {
          align-items: center;
          margin-left: 16px;

          ion-badge {
            border-radius: 4px;
            height: 18px;
          }

          .declined {
            background-color: var(--ion-color-dangerlight);
            color: var(--ion-color-dangerdark);
          }

          .confirmed {
            background-color: var(--ion-color-successlight);
            color: var(--ion-color-successdark);
          }
        }

        &__link {
          margin-right: 16px;
        }

        &__wallet {
          padding: 0 16px;
          margin-bottom: 12px;

          ion-text {
            color: var(--ion-color-neutral90);
          }
        }

        &__fee {
          padding-left: 16px;

          ion-text {
            color: var(--ion-color-neutral90);
          }
        }

        &__usd {
          padding-right: 16px;

          ion-text {
            color: var(--ion-color-neutral90);
          }
        }

        &__date {
          padding-left: 16px;

          ion-text {
            color: var(--ion-color-neutral90);
          }
        }

        &__time {
          padding-right: 16px;

          ion-text {
            color: var(--ion-color-neutral90);
          }
        }
      }

      &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__amount {
          padding-right: 16px;
          text-align: end;

          &__conversion {
            ion-text {
              color: var(--ion-color-neutral80);
            }
          }
        }

        &__title_and_image {
          margin: 0 16px;
          display: flex;
          align-items: center;

          &__image_container {
            display: inline-flex;
            align-items: center;
            padding-right: 8px;

            img {
              width: 40px;
              height: 40px;
            }
          }
        }

        &__title_container {
          flex-direction: column;

          &__title {
            display: flex;
            align-items: center;

            ion-text:last-child {
              margin-left: 4px;
            }
          }

          &__badge {
            margin-top: 4px;
          }
        }
      }

      &__title {
        padding-left: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
      }
    }

    &__support {
      margin-top: 24px;
      text-align: center;
    }
  }

  .divider {
    margin-bottom: 12px;
  }

  .container-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  ion-icon {
    width: 16px;
    height: 16px;
    margin-left: 6px;
  }
}
