:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .step-counter {
    margin-right: 13px;
  }

  .sd {
    &__title {
      margin-top: 24px;
    }

    &__selected-currency {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      background-color: var(--ion-color-white);
      border-radius: 8px;

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 33px;
      }
    }

    &__network-select-card {
      margin: 16px 16px 0;
      background: var(--ion-color-white);
      border: 1px solid var(--ion-color-neutral50);
      box-shadow: 0 2px 8px rgb(var(--ion-color-info-rgb) 5%);
      border-radius: 8px;

      &__title {
        margin-top: 10px;
        margin-bottom: 10px;
      }

      &__selected-coin {
        margin-top: 16px;
      }

      &__networks {
        margin-top: 16px;
      }
    }

    &__address-input-card {
      margin-top: 16px;
    }

    &__amount-input-card {
      margin-top: 16px;
      box-shadow: 0 2px 8px rgb(74 117 247 / 5%);
    }

    &__footer {
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);
      border-radius: 8px;

      &__submit-button {
        display: flex;

        &__button {
          flex-grow: 1;
        }
      }
    }

    &__alert {
      margin-top: 16px;

      &__title {
        font-weight: var(--ux-fweight-semibold);
        padding-bottom: 8px;
      }
    }
  }
}
