:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  ion-input {
    --padding-start: 13px;
    --padding-top: 13px;
    --padding-bottom: 13px;

    border-radius: 4px;
    border: 1px solid var(--ion-color-neutral80);
    background-color: var(--ion-color-neutral10);
  }

  .ion-text-start {
    padding-left: 60px;
  }

  .oi {
    &__back {
      padding-right: 30px;
      font-size: 12px;
    }

    &__step_counter {
      margin-right: 13px;
      color: var(--ion-color-white);
    }

    &__title {
      margin-top: 16px;
    }

    &__subtitle {
      margin-top: 24px;

      ion-text {
        color: var(--ion-color-primary);
      }
    }

    &__input {
      margin-top: 10px;

      &__label {
        margin-bottom: 6px;
      }

      margin-bottom: 36px;
    }

    &__paragraph {
      margin-top: 8px;
    }

    &__category {
      margin-top: 8px;
      margin-left: -16px;
    }

    &__button {
      display: flex;
      flex-direction: column;
      margin-top: 24px;
    }

    &__category_label {
      margin-top: 16px;
    }
  }
}
