:host {
  .src {
    &__container {
      padding: 9px 0;

      &__title {
        font-size: 14px;
        font-weight: 700;
      }

      &__content {
        font-size: 16px;
        font-weight: 400;
      }

      &__info {
        font-size: 12px;
        font-weight: 700;
        color: #606c8e;
        margin-bottom: 16px;
      }

      &__date {
        display: flex;
        justify-content: space-between;
      }
    }

    &__sign_request {
      padding-top: 24px;

      &__message_container {
        margin-top: 16px;
        background-color: #f5f5f5;
        padding: 16px;
        border-radius: 4px;
        font-size: 14px;
        color: #606c8e;
        line-height: 25px;

        span {
          font-weight: 700;
        }
      }
    }
  }
}
