:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .aon {
    &__disclaimer {
      &__item {
        display: flex;

        --inner-border-width: 0;
        --inner-padding-end: 0;
        --background-activated: none;

        margin-bottom: 16px;

        ion-checkbox {
          margin-right: 8px;
          width: 24px;
          height: 24px;
        }

        ion-label {
          font-size: 12px;
          line-height: 18px;
          z-index: 3;
        }
      }

      &__item:last-child {
        margin-bottom: 10px;
      }
    }
  }

  ion-footer {
    box-shadow: 0 0 16px rgb(28 45 94 / 20%);

    .button-next {
      display: flex;
      flex-direction: column;
    }
  }
}
