:host {
  --ion-background-color: var(--ion-color-primary);

  .ul {
    &__title {
      margin-top: 100px;

      ion-text {
        color: var(--ion-color-white);
      }
    }

    &__input {
      --ui-label-color: var(--ion-color-white);

      margin-top: 41px;
    }

    &__login-button {
      margin-top: 24px;
    }

    &__reset-password-button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
    }
  }

  ion-footer {
    background: var(--ion-color-primary);

    .ul__footer__help-button {
      margin-bottom: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
