:host {
  .rh {
    padding-bottom: 24px;

    &__title {
      border-bottom: #eee solid 1px;
    }

    &__summary {
      margin-top: 24px;

      &__first-order {
        margin-top: 16px;
      }

      &__second-order {
        margin-top: 16px;
      }
    }
  }
}
