:host {
  .drc {
    margin-top: 15px;
    width: 100%;

    &__container {
      padding: 9px 0;

      &__title {
        font-size: 14px;
        font-weight: 700;
      }

      &__content {
        font-size: 16px;
        font-weight: 400;
      }

      &__info {
        font-size: 12px;
        font-weight: 700;
        color: #606c8e;
        margin-bottom: 16px;
      }

      &__date {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
