:host {
  .ni {
    &__footer {
      text-align: center;
      box-shadow: 0 0 16px rgb(28 45 94 / 20%);
      border-radius: 8px;

      &__submit-button {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;

        &__button {
          flex-grow: 1;
        }
      }

      &__text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;

        &__button {
          margin-left: 8px;
        }
      }
    }

    &__text {
      margin-top: 24.5px;
      margin-left: 10px;

      span {
        color: var(--ion-color-neutral80);
      }

      flex-direction: column;
      gap: 22px;
    }
  }
}
