:host {
  .lmi {
    &__image_container {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &__subtitle {
      ion-text {
        color: var(--ion-color-primary);
      }

      padding: 0 16px 24px;
    }

    &__close_button {
      display: flex;
      justify-content: flex-end;
      height: 32px;
      position: absolute;
      right: 4px;

      ion-button {
        height: inherit;
        margin: 0;
        padding-top: 10px;
      }

      &__icon {
        align-items: flex-end;
      }
    }
  }
}
