.ih {
  margin-top: 8px;
  border-radius: 16px;
  border: 0.5px solid var(--ion-color-neutral50);
  width: 100%;
  min-height: 70px;

  ion-accordion-group {
    width: 100%;

    ion-accordion {
      width: 100%;
    }
  }

  &__loader {
    margin-top: 19px;
  }

  &__content {
    display: flex;
    width: 100%;
  }

  &__accordeon {
    width: 100%;

    ion-list {
      border-radius: 16px;
    }

    ion-item[slot='header'] {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      border-bottom: 1px solid var(--ion-color-neutral50);
      background-color: var(--ion-color-white);

      ion-label {
        background-color: var(--ion-color-white);
        font-family: var(--ux-font-worksans);
        font-size: var(--ux-fsize-18);
        font-weight: var(--ux-fweight-semibold);
        color: var(--ion-color-primary);
        line-height: 24px;
        margin-bottom: 8px;
      }
    }
  }

  &__button {
    display: flex;
    justify-content: center;

    ion-button {
      text-decoration: underline;
    }
  }
}
