:host {
  .disconnect_link {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    font-weight: 600;
    font-size: 16px;
    color: #4a75f7;
  }

  .wcod {
    background: var(--ion-color-white);
    border-radius: 8px;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #b0b6c7;
    color: #1c2d5e;

    &__logo {
      img {
        height: 64px;
      }
    }

    &__provider_name {
      font-size: 18px;
      font-weight: 600;
      margin-top: 16px;
    }

    &__transaction_detail {
      margin-top: 15px;
      width: 100%;

      &__container {
        padding: 9px 0;

        &__title {
          font-size: 14px;
          font-weight: 700;
        }

        &__content {
          font-size: 16px;
          font-weight: 400;
        }

        &__info {
          font-size: 12px;
          font-weight: 700;
          color: #606c8e;
          margin-bottom: 16px;
        }

        &__date {
          display: flex;
          justify-content: space-between;
        }
      }

      &__sign_request {
        padding-top: 24px;

        &__message_container {
          margin-top: 16px;
          background-color: #f5f5f5;
          padding: 16px;
          border-radius: 4px;
          font-size: 14px;
          color: #606c8e;
          line-height: 25px;

          span {
            font-weight: 700;
          }
        }
      }
    }

    &__button_section {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin-top: 16px;

      ion-button {
        width: 100%;
      }
    }
  }
}
