.ibi {
  display: flex;
  align-items: center;
  background: var(--ion-color-white);
  border-radius: 8px;
  margin-top: 8px;
  margin-right: 10px;
  margin-left: 10px;
  border: 0.5px solid var(--ion-color-neutral50);
  padding: 8px 16px 12px;
  background-size: cover !important;

  &__image {
    justify-content: center;
    width: fit-content;
  }

  &__content {
    width: 100%;
    justify-content: space-between;
    margin-left: 8px;

    &__group {
      align-items: center;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;

      &__badge {
        --background: var(--ion-color-successlight);
        --color: var(--ion-color-successdark);
        --height: 12px;

        margin-top: 4px;
      }

      .converted_balance {
        color: var(--ion-color-neutral80);
      }
    }
  }
}
