:host {
  // stylelint-disable-next-line selector-class-pattern
  .ux_toolbar {
    --border-width: 0;
    --border-color: transparent;
  }

  .title {
    color: white;
    font-weight: var(--ux-fweight-semibold);
  }

  .wt {
    border: 0.5px solid;
    border-color: var(--ion-color-neutral50);
    box-shadow: 0 2px 8px rgb(74 117 247 / 5%);
    border-radius: 8px;
    overflow: hidden;
    background: var(--ion-color-white);
    margin: 16px;

    &__total-invested {
      margin-bottom: 36px;

      &__text {
        color: var(--ion-color-success);
      }

      &__spinner {
        width: 20px;
        height: 20px;
      }
    }

    &__amount-and-eye {
      display: contents;

      &__amount {
        ion-text:first-child {
          margin-right: -10px;
          color: var(--ion-color-white);
        }

        ion-text:last-child {
          margin-right: 10px;
          color: var(--ion-color-white);
        }
      }

      &__eye {
        margin-bottom: 5px;
      }
    }

    &__segments {
      margin: 6px 8px 0;

      ion-label:not(.active-tab) {
        color: var(--ion-color-neutral50);
      }

      ion-label.active-tab {
        color: var(--ion-color-white);
      }

      ion-segment {
        ion-segment-button {
          min-height: 32px;
          min-width: 156px;
          margin: 0;
        }

        ion-segment-button:first-child {
          left: -2px;
        }

        ion-segment-button:last-child {
          right: -2px;
        }
      }
    }

    &__spinner-and-amount {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-top: 0;
    }

    &__subheader {
      margin-top: -30px;

      &__value {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 121px;
        width: 100%;
        background-color: var(--ion-color-primary);

        &__title {
          color: red;
        }
      }
    }

    &__backup {
      padding-left: 16px;
      padding-right: 16px;
    }

    &__overlap_buttons {
      margin-top: -28px;
    }

    &__transactions-list {
      margin-top: 8px;

      &__label {
        margin-top: 24px;
        margin-bottom: 10px;
      }
    }

    &__start-investing {
      padding: 0 16px;
    }

    &__button {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__balance {
      display: flex;
      flex-direction: column;

      &__button {
        padding-top: 10px;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        ion-button {
          --color: var(--ion-color-info);

          height: 24px;
          width: 24px;

          --padding-start: 0;
          --padding-end: 0;

          ion-icon {
            color: var(--ion-color-info);
            font-size: 24px;
          }
        }
      }

      &__loading {
        align-self: center;
        justify-self: center;
        margin-bottom: 30px;
      }
    }
  }

  .segment-content {
    &.first-selected {
      border-top-left-radius: 0;
    }

    &.last-selected {
      border-top-right-radius: 0;
    }
  }

  .refresher {
    align-items: center;
    margin-top: 12px;
  }

  .header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
}
