:host {
  .ux-card {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .card-title {
    display: flex;
    align-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 16px;

    &__text {
      margin-left: 12px;
    }

    &__button {
      margin: 0 0 0 12px;
      height: 20px;
    }

    ion-button::part(native) {
      padding-inline-start: 0;
      padding-inline-end: 0;
      border-radius: 0;
    }

    &__img {
      width: 20px;
      max-height: 20px;
    }
  }
}
