ion-card {
  margin-bottom: 8px;
  box-shadow: none;
}

.summary {
  padding: 8px 16px;

  &__amount {
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;

    &__label {
      margin-bottom: 4px;
    }

    &__qty {
      display: flex;
      justify-content: space-between;

      ion-text {
        color: var(--ion-color-neutral90);
      }
    }
  }
}

form {
  .term-item {
    display: flex;

    --inner-border-width: 0;
    --inner-padding-end: 0;
    --background-activated: none;

    ion-checkbox {
      margin-right: 8px;
      width: 24px;
      height: 24px;
    }

    ion-label {
      font-size: 12px;
      line-height: 18px;
      z-index: 3;
    }
  }

  .term-item:first-child {
    margin-bottom: 16px;
  }
}
