:host {
  .aic {
    background: var(--ion-color-white);
    border-radius: 8px;

    &__send {
      margin-top: 24px;
      display: flex;
      align-items: center;
    }

    &__available {
      text-align: center;

      ion-text {
        color: var(--ion-color-successdark);
      }

      &__amounts {
        display: grid;
        justify-content: center;

        ion-text {
          color: var(--ion-color-successdark);
          margin-bottom: 4px;
        }
      }
    }

    &__insufficient-funds {
      text-align: center;

      ion-text {
        color: var(--ion-color-dangerdark);
      }

      &__amounts {
        display: grid;
        justify-content: center;

        ion-text {
          color: var(--ion-color-dangerdark);
          margin-bottom: 4px;
        }
      }
    }

    &__header {
      margin-top: 28px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }

    &__content {
      display: flex;
      flex-direction: column;

      ion-range {
        padding-left: 5px;

        --bar-background-active: var(--ion-color-info);
        --bar-height: 6px;
        --bar-border-radius: 2px;
        --bar-background: var(--ion-color-infolight);
        --knob-size: 20px;
      }

      &__title {
        margin-bottom: 16px;
      }

      &__inputs {
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        &__amount_with_max {
          flex-basis: 55%;
          position: relative;

          &__amount {
            --padding-end: 48px;
          }

          &__max {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            color: var(--ion-color-info);

            --padding-start: 8px;
            --padding-end: 8px;
          }
        }

        ion-text {
          flex-basis: 10%;
          text-align: center;
          font-family: var(--ux-font-worksans);
          font-size: var(--ux-fsize-14);
          color: var(--ion-color-primary);
        }

        &__quoteAmount {
          flex-basis: 35%;
        }

        ion-input {
          border-radius: 4px;
          border: 1.5px solid var(--ion-color-neutral80);
          background-color: var(--ion-color-neutral10);
          color: var(--ion-color-neutral90);

          --padding-start: 16px;
        }

        ion-input.ng-invalid.ng-dirty {
          border: 1.5px solid var(--ion-color-dangerdark);
        }

        ion-input.has-focus {
          border: 1.5px solid var(--ion-color-primary);

          --placeholder-color: var(--ion-color-neutral90);
          --placeholder-opacity: 0;
        }
      }

      &__disclaimer {
        margin-top: 24px;

        ion-text {
          color: var(--ion-color-neutral80);
        }
      }

      &__label {
        display: flex;
        margin-bottom: 4px;

        ion-text:first-child {
          flex-basis: 65%;
        }

        ion-text:last-child {
          flex-basis: 25%;
        }
      }

      &__available {
        color: var(--ion-color-neutral80);
        margin-bottom: 24px;
      }

      &__percentage {
        width: 68px;

        ion-input {
          ion-text {
            position: absolute;
            right: 13px;
          }

          flex-basis: 45%;
          border-radius: 4px;
          border: 1.5px solid var(--ion-color-neutral80);
          background-color: var(--ion-color-neutral10);
          color: var(--ion-color-neutral90);

          --padding-start: 16px;
        }

        ion-input.has-focus {
          border: 1.5px solid var(--ion-color-primary);

          --placeholder-color: var(--ion-color-neutral90);
          --placeholder-opacity: 0;
        }
      }

      &__funds-advice {
        display: flex;
        width: 100%;
        padding-top: 6px;
        align-items: flex-start;

        img {
          margin-right: 6px;
        }

        ion-text {
          color: var(--ion-color-dangerdark) !important;
        }
      }
    }
  }

  ion-icon {
    width: 16px;
    height: 16px;
    margin-left: 6px;
  }
}
