:host {
  .rc {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__img {
      align-self: center;
      margin-top: 32px;
    }

    &__title {
      align-self: center;
      margin-top: 16px;
    }

    &__paragraph {
      align-self: flex-start;
      margin-top: 16px;

      ion-text {
        color: var(--ion-color-primary);
      }
    }

    &__tos {
      align-self: center;
      margin-top: 24px;
    }
  }
}
