.fpc {
  margin-top: 8px;
  background-color: var(--ion-color-tertiary);
  border-radius: 8px;
  border: 0.5px solid var(--ion-color-neutral50);

  &__content {
    display: flex;
    padding: 11px 16px;
    width: 100%;

    &__image {
      padding: 0 !important;
      display: flex;
      align-items: center;
      justify-content: center;

      &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--ion-color-white);
        border-radius: 50%;
        height: 36px;
        width: 36px;
      }
    }

    &__body {
      align-self: center;
      flex-basis: 78%;
      margin-left: 12px;
      padding-right: 1%;

      &__title {
        margin-bottom: 4px;
      }

      ion-text {
        color: var(--ion-color-white);
      }
    }

    &__arrow {
      display: flex;
      align-items: center;

      ion-icon {
        width: 18px;
        height: 18px;
        color: var(--ion-color-white);
      }
    }
  }
}
