:host {
  width: 100%;
  .ep {
    &__personal {
      margin-top: 24px;
      &__card {
        margin-top: 8px;
      }
    }

    &__bill {
      margin-top: 24px;
      &__card {
        margin-top: 8px;
      }
    }
  }
}
