:host {
  ion-header {
    position: absolute !important;
    top: 0;

    --background: none;
  }

  ion-content {
    --offset-top: -145px !important;

    background: var(--ion-color-neutral10) !important;
  }

  .tos-text {
    z-index: 1;

    &__label {
      display: flex;
      justify-content: center;
      z-index: 1;
      margin: 0;
      margin-top: 20px;
      width: fit-content;
    }

    &__button {
      float: right;
      height: auto;
      min-width: 0;
      margin: 0;

      --padding-start: 0.35em;

      text-decoration: underline var(--ion-color-info);

      .button-native {
        padding-right: 0 !important;
      }
    }
  }

  .app_header_register {
    height: 90px;
    width: 100%;

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__app_xcapit_logo {
        margin-top: 48px;
      }
    }
  }

  .register_title {
    margin-top: 24px;
    margin-left: 16px;
  }

  .auth-link {
    text-decoration: underline var(--ion-color-info);
    margin-top: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main {
    &__back_login__button {
      text-decoration: underline var(--ion-color-info);

      .button-native {
        padding-right: 0 !important;
      }
    }
  }
}
