:host {
  width: 100%;

  ion-radio {
    --color: var(--ion-color-info);
    --color-checked: var(--ion-color-info);

    width: 18px;
    height: 18px;
  }

  .pcc {
    margin-bottom: 15px;

    &__content {
      display: flex;

      &__body {
        &__name {
          display: flex;
          align-items: center;

          &__button {
            margin-left: 5px;
            font-size: 10px;
          }
        }
      }

      &__radio {
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
      }

      &__image {
        margin-right: 10px;
        display: flex;
      }
    }
  }

  .card-off {
    margin-bottom: 15px;
    opacity: 0.5;
  }
}
