:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .cp {
    &__title {
      margin-top: 16px;
      margin-bottom: 8px;
      margin-left: 16px;
    }

    &__causes {
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
